body {
  display: flex;
  margin: 5em;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
}

#app {
  background-color: honeydew;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px #444448;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  width: fit-content;
  height: fit-content;
}

#todo {
  color: red;
}

#todo-input {
  height: 2em;
  text-align: center;
}

#todo-input:hover {
  opacity: 0.9;
}

#todo-submit {
  height: 2.5em;
}

#todo-submit:hover {
  opacity: 0.9;
}

#todo-output {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}
